<h2>My Favorite Orgs</h2>

<ul>
  <li>{{#link-to 'org.repo' 'react'}}react{{/link-to}}</li>
  <li>{{#link-to 'org.repo' 'react-native'}}react-native{{/link-to}}</li>
  <li>{{#link-to 'org.repo' 'watchman'}}watchman{{/link-to}}</li>
</ul>

{{outlet}}
