<h2>My Favorite Orgs</h2>

<ul>
  {{#each model as |org|}}
  <li>
    <span class="btn" {{action 'favoritedClicked' org}}>[ Favorite ]</span>
    {{#link-to 'org' org.id}}
      {{org.id}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>

{{outlet}}
