<h2>My Favorite Orgs</h2>

<ul>
  {{#each model as |o|}}
    {{github-org org=o on-fav-clicked='favoritedClicked'}}
  {{/each}}
</ul>

{{social-info name="Phu Phan" github="phudev95" on-links-toggle='linksToggled'}}

{{outlet}}
